:root {
    --primary: rgb(245, 188, 102);
    --secondary: white;
    --text-color: rgb(75, 75, 75);
    --header-color: rgb(111, 66, 235);
    --body-color: rgb(180, 146, 219);
    --tag-fontsize: 30px;
    --text-fontsize: 15px;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 1%;
    background-color: var(--header-color);
    color: white;
    width: 98%;
}

h1{
    font-size: 200%;
}

button {
    font-size: 20px;
    background-color: rgb(229, 206, 248);
}

h2 {
    font-size: var(--tag-fontsize);
}

.overlay-header {
    height: auto;
    width: auto;
    background: black;
    overflow: hidden;
}

.overlay-header img {
    height: auto;
    width: 100%;
    opacity: 0.7;
    
}

.banner-text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    width: 60%;
    font-size: 250%;
    font-weight: bolder;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
}

main {
    background-color: var(--body-color);
}

.bio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.bio h2 {
    text-decoration: underline;
}

.bioContent {
    display: flex;
    flex-direction: row;
}

.bioContent img {
    position: relative;
    width: 30%;
    margin: 3%;
    float: left;
}

.bioContent p {
    text-align: center;
    position: relative;
    float: right;
    margin-left: auto;
    margin-right: 5%;
    font-size: 1.5em;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects h2 {
    text-decoration: underline;
}

.group-4 {
    padding: 3%;
}

.group-4 h3 {
    font-size: 1.2em;
    text-align: left;
}

.group-4 img {
    float: left;
    width: 45%;
}

.group-4 img:hover {
    background-color: white;
    opacity: 0.4;
}

.password-gen {
    padding: 3%;
}

.password-gen h3 {
    font-size: 1.2em;
    text-align: right;
}

.password-gen img{
    float: right;
    width: 45%;
}

.password-gen img:hover {
    background-color: white;
    opacity: 0.4;
}

.contact {
    text-align: center;
    padding: 3%;
}

.contact h2 {
    text-decoration: underline;
}

.contact ul{
    align-items: center;
    list-style-type: none;
    display: block;
}

.resume {
    display: block;
    text-align: center;
}

.resume h2 {
    text-decoration: underline;
}

.resume div {
    margin-bottom: 25px;
}

footer {
    display: block;
    background-color: var(--header-color);
    text-align: center;
}

footer h3 {
    font-size: 200%;
    font-weight: bolder;
    margin: 5px;
    margin-top: 20px;
}

footer div {
    font-size: 120%;
    margin: 5px;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
}
  
/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
}